@font-face {
    font-family: 'Favorit Pro';
    src: url('fonts/FavoritPro-Regular.woff2') format('woff2'),
        url('fonts/FavoritPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'WilliamsCaslonText';
    src: url('fonts/WilliamsCaslonText-Italic.woff2') format('woff2'),
        url('fonts/WilliamsCaslonText-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
.font1{
    font-size:16px;
    font-family: 'Favorit Pro';
}
.font2{
    font-size:16px;
    font-family: 'WilliamsCaslonText';
    font-style: italic;
    text-transform: none;
}

body {
    background-color: #aaaaaa;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
}
h1{
    font-size: 16px;
    font-family: 'Favorit Pro';
    font-weight: normal;
    font-style: normal;
}
h2{
    font-size: 50px;
    font-family: 'Favorit Pro';
    font-weight: normal;
    font-style: normal;
}


a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(0, 0, 0);
  }
  
  .name {
    position: absolute;
    top: 20px;
    left: 20px;
    animation: fadein 2s;
    -webkit-animation: fadein 2s; /* Safari and Chrome */ 
}
.filter {
    position: absolute;
    top: 20px;
    left: 50%;
    animation: fadein 2s;
    -webkit-animation: fadein 2s; /* Safari and Chrome */  
}


@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.socials {
    position: absolute;
    left: 20px;
    bottom: 20px;
    animation: fadein 2s;
    -webkit-animation: fadein 2s; /* Safari and Chrome */  
}
.mail {
    position: absolute;
    right: 20px;
    bottom: 20px;
    animation: fadein 2s;
    -webkit-animation: fadein 2s;   Safari and Chrome */  
}
.grid-container {
    position: absolute;
    top: 30%;
    left: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5%;
  }
  
  .project-cover {
      grid-area: project-cover;
    }
  
  .alphabet { 
    font-family: "Favorit Pro";
    font-size: 60px;
    grid-area: alphabet; }
  
  .caption {
      grid-area: caption;;
      font-size: 16px;
      font-family: 'Favorit Pro';
    }
  
  .year-filter {
      grid-area: year-filter;
      font-size: 16px;
      font-family: 'Favorit Pro';
    }
    img {
        max-width: 100%;
        height: auto;
      }
    .project {
        grid-area: 1fr;
    }