@font-face {
    font-family: 'Favorit Pro';
    src: url('assets/fonts/FavoritPro-Regular.woff2') format('woff2'),
        url('assets/fonts/FavoritPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    width: 1920px;
    margin: 30px;
    background-color: #e4e4e4;
}
h1{
    width: 260px;
    font-size: 16px;
    border-bottom: 2px solid #FFFFFF;
    padding-bottom: 12px;
    font-family: 'Favorit Pro';
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
}
